@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    display: none;
}
body {
    box-sizing: border-box;
}

/* Navbar */
.navbar .container {
    display: inline-flex;
}
.navbar .container .navbar-logo {
    display: flex;
}
.navbar .container .navbar-brand {
    display: flex;
}
.navbar .container .navbar-nav .nav-item {
    list-style: none;
    display: inline;
}
